*{
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li{
    margin: 0 1em;
}

#menu-button,
#close-button {
    display: none;
}

@media only screen and (max-width: 1023px) {
    header h1{
        font-size: 2em;
    }

    header nav ul {
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        font-size: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        position:fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40%;
        line-height: 2em;
        background-color:whitesmoke;
        padding-top: 110px;
        z-index: 1;
    }

    header nav ul.show-menu{
        transform: translateX(0);
    }

    #close-button{
        display: none;
        position: absolute;
        left: 20px;
        top: 20px;
        height: 1.75em;
    }

    #menu-button{
        display: block;
        position: fixed;
        top: 1em;
        right: 2em;
        height: 3em;
    }
}

/* LOADER */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}