*{
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: black;
}

/* FONT AND BUTTON STYLE */

h1, h2, h3, h4, h5, h6, b {
    color: white;
    font-family:  "Roboto", sans-serif;
    font-weight: 900;
}

b{
    color: aqua;
}

p, a {
    font-family: "Cambo", serif;
    font-weight: 400;
    line-height: 1.75em;
}

button {
    font-family: "Cambo", serif;
    font-weight: 400;
    position: relative;
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.5s;
}

button:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

section{
    height: 100vh;
}

/* HEADER */

header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: transparent;
    color: white;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navigation{
    margin: 0 1em;
    text-decoration: none;
    color: white;
    position: relative;
}

.header-navigation:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header-navigation:hover:after{
    width: 100%;
}

#menu-button,
#close-button {
    display: none;
}

@media only screen and (max-width: 1023px) {
    header h1{
        font-size: 2em;
    }

    header nav ul {
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        font-size: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        position:fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40%;
        line-height: 2em;
        background-color: #010409;
        padding-top: 110px;
        z-index: 1;
    }

    header nav ul.show-menu{
        transform: translateX(0);
    }

    #close-button{
        display: none;
        position: absolute;
        left: 20px;
        top: 20px;
        height: 1.75em;
    }

    #menu-button{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 2em;
    }
}

/* HERO SECTION */

.hero{
    position: relative;
    background-color: #0c1628;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80vh;
}

.hero img{
    height: 80%;
    position: relative;
    right: 15em;
}

/* MY JOURNEY SECTION */

.about-me{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #010409;
    color: #ffffff;
    padding: 5em 0;
    height: 80vh;
}

.about-me-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3em 5em;
}

.my-journey{
    border-right:1px solid #ffffff;
    height: 100%;
}

.about-me-sections h2{
    margin-bottom: 2em;
}

.skills{
    font-size: 2em;
    position: relative;
}

/* "WHAT I DO" SECTION */


.my-work{
    height: 50vh;
    background-color: #010409;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    }
    
.my-work h2{
    position: relative;
}

.offers{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
}

.icon-holder{
    border-bottom: 1px white solid;
    width: 80%;
    height: 3em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid{
    font-size: 2em;
}

.features-content{
    padding: 2em 1.5em;
    height: 100%;
}

.features h3{
    text-align: center;
    margin-bottom: 1em;
}

/* CONTACT ME */

.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

/* FOOTER STYLE */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    background-color: #010409;
}

footer .fa-brands{
    color: white;
    font-size: 2em;
    margin: 0 20px;
}

@media only screen and (max-width: 1023px) {
    footer img{
        height: 40px;
    }
}


/* LOADER */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}