*{
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

h1, h2, h3, h4, h5, h6, b {
    color: white;
    font-family:  "Roboto", sans-serif;
    font-weight: 900;
}

p, span, a {
    font-family: "Cambo", serif;
    font-weight: 400;
    line-height: 1.75em;
}

button {
    font-family: "Cambo", serif;
    font-weight: 400;
    position: relative;
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.5s;
}

button:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

main{
    flex: 1;
    height: calc(90vh - 5em);
    padding: 5em;
    background-color: #010409;
    color: white;
}

/* Header styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #010409;
    color: white;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation{
    margin: 0 1em;
    text-decoration: none;
    color: white;
    position: relative;
}

.header-navigation:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header-navigation:hover:after{
    width: 100%;
}

#menu-button,
#close-button {
    display: none;
}

@media only screen and (max-width: 1023px) {
    header h1{
        font-size: 2em;
    }

    header nav ul {
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        font-size: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        position:fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40%;
        line-height: 2em;
        background-color: #010409;
        padding-top: 110px;
        z-index: 1;
    }

    header nav ul.show-menu{
        transform: translateX(0);
    }

    #close-button{
        display: none;
        position: absolute;
        left: 20px;
        top: 20px;
        height: 1.75em;
    }

    #menu-button{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 2em;
    }
}

/* MAIN DESIGN */

.animation{
    width: 100%;
    overflow: hidden;
    text-align: left;
    line-height: 4rem;
}

.animation .text{
    position: relative;
    color: #4070F4;
    font-size: 30px;
}

.animation .text.first-text{
    color: white;
    margin: 0 10px;
}

.text.second-text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010409;
    border-left: 2px solid white;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

main section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main section div{
    width: 30%;
    height: 30%;
}

main section img{
    border-radius: 50%;
    width: 30%;
    height: 30%;
    box-shadow: 5px 5px 50px 5px white;
}

main section div h2{
    line-height: 50px;
    width: 100%;
}

main section div p{
    line-height: 25px;
    width: 100%;
} 

@media only screen and (max-width: 1023px) {
    main {
        padding: 1em;
    }
    main section{
        height: 100%;
        flex-direction: column-reverse;
    }

    .animation{
        text-align: center;
    }

    main section div{
        width: auto;
        height: auto;
        padding: 0 80px;
    }

    main section img{
        width: 50%;
        height: auto;
    }

    main section div h2{
        font-size: 2rem;
    }
    
    main section div p{
        font-size: 1.75rem;
    } 
}

/* FOOTER STYLE */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #010409;
}

.fa-brands{
    color: white;
    font-size: 2em;
    margin: 0 20px;
}

@media only screen and (max-width: 1023px) {
    footer img{
        height: 40px;
    }
}

/* LOADER */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}